@charset "utf-8";      
.pagination a {
    text-decoration: none;
	border: 1px solid #AAE;
	color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
	margin-bottom: 5px;
}

.pagination .current {
    background: #26B;
    color: #fff;
	border: 1px solid #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}
#site-body{
	display: none;
	background:#fff;
	margin: 0;
	padding: 0;
}
#site-body dl{
	background: #FFF;
	padding-top:10px;
	margin: 0;
}
#site-body dl dt{
	display: inline-block;
	padding-top: 10px;
	width :20%;
	vertical-align: top;
}
#site-body dl input{
	display: inline-block;
	vertical-align: top;
	width :20px;

}
#site-body dl label{
	display: inline-block;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#site-body dl dd{
	display: inline-block;
	width:78%;
	padding-top: 10px;
	background-color: #f5f5f5;
}
.one-input-wrap{
	white-space: nowrap;
	display: inline-block;
}
.td-1{
	width: 10%;
	text-align: right;
}